<!DOCTYPE html>
<html>
<head>
	<title>Fast-Food-Order</title>
  <link rel="stylesheet" type="text/css" href="../css/order.css">
</head>
<body>
	<header>
  <h1 id="restaurantMenu">Fast-Food-Fast Menu </h1>
</header>
 <body>

<ul class="wrap">
				<li><a href="">Orders History</a>
					
				</li>
</ul>
<ul>
      <li>
        <figure><figcaption id="itemDescription">Chicken Fries</figcaption>
                  <img src=../images/chipskuku.jpg width="620" height="410" >
                  <input type="number" placeholder="Qty"min="1" max="100">
                  <h6 id="price">price Ksh.300</h6>
                
          </figure>
      </li>
      <li>
        <figure><figcaption id="itemDescription">Beef Pilau</figcaption>
                  <img src=../images/beef_pilau_rice.jpg width="620" height="410" >
                  <input type="number" placeholder="Qty"min="1" max="100">
                  <h6 id="price">price Ksh.500</h6>
                
          </figure>
      </li>
      <li>
        <figure><figcaption id="itemDescription">Ugali Fish</figcaption>
                  <img src=../images/ugalifish.jpg width="620" height="410" >
                  <input type="number" placeholder="Qty"min="1" max="100">
                  <h6 id="price">price Ksh.700</h6>
                
          </figure>
      </li>
      <li>
        <figure><figcaption id="itemDescription">Salad</figcaption>
                  <img src=../images/salad.jpg width="620" height="410" >
                  <input type="number" placeholder="Qty"min="1" max="100">
                  <h6 id="price">price Ksh.200</h6>
                
          </figure>
      </li>
      <li>
        <figure><figcaption id="itemDescription">Cup of Cofee</figcaption>
                  <img src=../images/coffee.jpg width="620" height="410" >
                  <input type="number" placeholder="Qty"min="1" max="100">
                  <h6 id="price">price Ksh.100</h6>
                
          </figure>
      </li>
      
</ul>
<button class="button">Submit Order</button>
</header>
</body>
</html>