<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <link rel="stylesheet" type="text/css" href="../css/order.css">
    </head>
    <body>
        <div class="container">
            <nav>
                <ul>
                    <li><a href="../../index.html">HOME</a></li>
                </ul>
            </nav>
        </div>
        <br>
        <div>
            <h1>Available Orders</h1>
        </div>
        <div class="container-fluid">
            <img src=../images/chipskuku.jpg width="620" height="410" >
            <div class="container">
                <h1>Chips Kuku <span>Ksh 550</span></h1>
                <button class="button" type="submit"><a href="index.html">Buy</a></button>
            </div>
        </div>

        <div class="container-fluid">
             <img src=../images/beef_pilau_rice.jpg width="620" height="410" >
            <div class="container">
                <h1>Beef Pilau <span>Ksh 400</span></h1>
                <button class="button" type="submit"><a href="index.html">Buy</a></button>
            </div>
        </div>
        <div class="container-fluid">
            <img src=../images/ugalifish.jpg width="620" height="410" >
            <div class="container">
                <h1>Ugali Fish <span>Ksh 1000</span></h1>
                <button class="button" type="submit"><a href="index.html">Buy</a></button>
            </div>
        </div>
        <div class="container-fluid">
            <img src=../images/coffee.jpg width="620" height="410" >
            <div class="container">
                <h1>Coffee <span>Ksh 150</span></h1>
                <button class="button" type="submit"><a href="index.html">Buy</a></button>
            </div>
        </div>
        
    </body>
</html>