</body>
</html>>
<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="../css/signup.css" />
<head>
  <title></title>
</head>
<body>

</body>
</html>>

  <div class="form">
    <form class="login-form">
      <input type="text" placeholder="Username"/>
      <input type="password" placeholder="Password"/>
      <input type="email" placeholder="Email"/>
      <button>login</button>
      <p class="message">Already registered? <a href="user.html">Sign In</a></p>
    </form>
  </div>
</div>

