<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../../assets/css/styles.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../css/views.css">
    </head>
    <body>
        <div class="topnav" id="navbar">
            <a href="../index.html">Home</a>
            <a href="admin.html">Admin</a>
        </div>
        <div class="container">
                <div class="row">
            <center>
                    <h1>View Orders</h1>

            </center>
          
                   
            </div>
        
        </div>
<div class="table-container">


        <table>
            <tr>
                <th>Username</th>
                <th>Date</th>
                <th>Address</th>
                <th>Order-id</th>
                <th>Order-Name</th>
                <th>Qty</th>
                <th>Accept</th>
                <th>Status</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>


            <tr>
                <td>Marlone</td>
                <td>Tue-25-08-2018</td>
                <td>Andela</td>
                <td>001</td>
                <td>Ugali Beef</td>
                <td>3</td>
                <td class="check">
                    <input type="checkbox" name="order" value="Order">
                </td>
                <td>Pending</td>
                <td><i class="far fa-edit"></i></td>
                <td><i class="far fa-trash-alt"></i></td>
            </tr>
            <tr>
                <td>Maina</td>
                <td>Tue-25-08-2018</td>
                <td>Pangani</td>
                <td>002</td>
                <td>Coffee</td>
                <td>1</td>
                <td class="check">
                    <input type="checkbox" name="order" value="Order">
                </td>
                <td>Pending</td>
                <td><i class="far fa-edit"></i></td>
                <td><i class="far fa-trash-alt"></i></td>
            </tr>
            <tr>
                <td>Lola</td>
                <td>Tue-25-08-2018</td>
                <td>Kisumu</td>
                <td>003</td>
                <td>Fish</td>
                <td>2</td>
                <td class="check">
                    <input type="checkbox" name="order" value="Order">
                </td>
                <td>Completed</td>
                <td><i class="far fa-edit"></i></td>
                <td><i class="far fa-trash-alt"></i></td>
            </tr>
            <tr>
                <td>Kinara</td>
                <td>Tue-25-08-2018</td>
                <td>Chiromo</td>
                <td>004</td>
                <td>Ugali Chicken</td>
                <td>5</td>
                <td class="check">
                    <input type="checkbox" name="order" value="Order">
                </td>
                <td>Pending</td>
                <td><i class="far fa-edit"></i></td>
                <td><i class="far fa-trash-alt"></i></td>
            </tr>
            
        </table>
    </div>
    </body>
</html>